h1 {
    text-align: center;
}


.copyright {
    font-size: small;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #eee;
    border: 1px solid #ddd;
}